[mkl]
# Win - 64 bits
include_dirs = C:\Program Files (x86)\Intel\Compiler\11.1\038\mkl\include
library_dirs = C:\Program Files (x86)\Intel\Compiler\11.1\038\mkl\em64t\lib;C:\Program Files (x86)\Intel\Compiler\11.1\038\lib\intel64
libraries = mkl_lapack95_lp64,mkl_blas95_lp64,mkl_intel_lp64,mkl_intel_thread,mkl_core,libiomp5md
