recursive-include numscons/scons-local *.py
recursive-include doc *
recursive-include tests *.py *.f *.c *.in SConstruct SConscript
recursive-include tools *.py configure configure.ac empty.f
include setupegg.py
include setup.py
include release.py
include Changelog
recursive-include numscons/core *.cfg
recursive-include numscons/checkers *.cfg
