[gcc]
optim       = -O2 -fno-strict-aliasing -DNDEBUG -fomit-frame-pointer
warn        = -Wall -Wstrict-prototypes
debug_sym   = -g 
[icc]
optim       = -O2 -fno-strict-aliasing -DNDEBUG -fomit-frame-pointer
warn        = -Wall -Wstrict-prototypes
debug_sym   = -g 
[suncc]
# -xtarget and co (-xarch, etc...) should be put in link_optim and
# optim for optimal performances.  If you do not need the package to be
# redistributable, using -xtarget=native is a good choice. See man cc
# for more info.
# XXX: detect this automatically ?
# XXX: DO NOT USE -fast ! This just causes random crashes, and man cc says that
# IEEE conforming code should not depend on it.
optim       = -xO2 -DNDEBUG
debug_sym   = -g 
