[msvc]
# XXX: distutils part of customization:
# if self.__arch == "Intel":
#     self.compile_options = ['/nologo', '/Ox', '/MD', '/W3', 
#                             '/GX' , '/DNDEBUG']
#     self.compile_options_debug = ['/nologo', '/Od', '/MDd', 
#                                   '/W3', '/GX', '/Z7', '/D_DEBUG']
# else:
#     # Win64
#     self.compile_options = [ '/nologo', '/Ox', '/MD', '/W3', '/GS-' ,
#     '/DNDEBUG']
#     self.compile_options_debug = ['/nologo', '/Od', '/MDd', '/W3', 
#                                   '/GS-', '/Z7', '/D_DEBUG']
# 
# self.ldflags_shared = ['/DLL', '/nologo', '/INCREMENTAL:NO']
# if self.__version >= 7:
#     self.ldflags_shared_debug = [
#     '/DLL', '/nologo', '/INCREMENTAL:no', '/DEBUG'
#     ]
# else:
#     self.ldflags_shared_debug = [
#     '/DLL', '/nologo', '/INCREMENTAL:no', '/pdb:None', '/DEBUG'
#             ]
# self.ldflags_static = [ '/nologo']

#/Wall is too strong, huge amount of warnings....
#warn = ['/W3', '/Wall'],
optim   = /Ox /DNDEBUG
warn    = /W3
thread  = /MD /GX
extra   = /nologo
[msvc9]
optim   = /Ox /DNDEBUG
warn    = /W3
thread  = /MD
extra   = /nologo
[mingw]
optim       = -O2 -fno-strict-aliasing -DNDEBUG
warn        = -Wall -Wstrict-prototypes
