[mkl]
# Win - 32 bits
include_dirs = C:\Program Files\Intel\MKL\10.2.1.019\include
library_dirs = C:\Program Files\Intel\MKL\10.2.1.019\ia32\lib
libraries = mkl_lapack95,mkl_blas95,mkl_intel_c,mkl_intel_thread,mkl_core,libiomp5md
