# Obligatory option:
#   - sitename: section name to use in site.cfg. For example, if you want MKL
#   to be configured in the section mkl of site.cfg, you would put sitename =
#   mkl.
#   - dispname: string to use when displaying informations for the user
#   (typically, in the perflib checker, it would print "Checking %s ... " %
#   dispname

# Possible options:
#   - all options available for BuildConfig, like include_dirs, cflags, etc...
#   (check in configuration module for the exact list). list should be comma
#   separated: include_dirs = /usr/include,/usr/local/include
#   - supplemental informations for a given use of the perflib, like blas,
#   cblas, etc... Supported for now: cblas_libs, blas_libs, lapack_libs,
#   clapack_libs.
#   - ftc: list of functions to check
#   - htc: list of headers to check
[GenericBlas]
sitename = blas_opt
dispname = Generic BLAS

libraries = blas

[GenericLapack]
sitename = lapack_opt
dispname = Generic LAPACK

libraries = lapack,blas

[MKL]
sitename = mkl
dispname = MKL

libraries = mkl,guide,m
ftc = MKLGetVersion
htc = mkl.h

[ATLAS]
sitename = atlas
dispname = ATLAS

library_dirs = /usr/lib/atlas
libraries = atlas
blas_libs = f77blas
cblas_libs = cblas
lapack_libs = lapack
clapack_libs = lapack
ftc = ATL_sgemm
htc = atlas_enum.h

[Accelerate]
sitename = accelerate
dispname = Framework: Accelerate

frameworks = Accelerate
ftc = cblas_sgemm
htc = Accelerate/Accelerate.h

[vecLib]
sitename = veclib
dispname = Framework: vecLib

frameworks = vecLib
ftc = cblas_sgemm
htc = vecLib/vecLib.h

[Sunperf]
sitename = sunperf
dispname = SUNPERF

cflags = -dalign
linkflags = -xlic_lib=sunperf
ftc = cblas_sgemm
htc = sunperf.h

[FFTW3]
sitename = fftw
dispname = FFTW3

libraries = fftw3
ftc = fftw_cleanup
htc = fftw3.h

[FFTW2]
sitename = fftw
dispname = FFTW2

libraries = fftw
ftc = fftw_forget_wisdom
htc = fftw.h
